html,
body {
  padding: 0;
  margin: 0;
  font-family: Inter, sans-serif-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


.text-xsm {
  font-size: 12px;
}

.text-sm {
  font-size: 14px;
}

.primary-passive {
  color: rgb(88, 102, 126)
}

.text-bold {
  font-weight: 600;
}

.text-sbold {
  font-weight: 500;
}

.progress {
  height: 0.5rem;
}

.progress-bar {
  background-color: rgb(88, 102, 126)
}

.table-row {
  display: flex;
  height: 60px;
  align-items: center;
}

[data-column-id="sn"].rdt_TableCol {
  font-weight: 600;
  color: rgb(23, 25, 36);
  margin-left: 35px;
}

[data-column-id="name"].rdt_TableCol {
  font-weight: 600;
  color: rgb(23, 25, 36);
}

[data-column-id="price"].rdt_TableCol {
  font-weight: 600;
  color: rgb(23, 25, 36);
}

[data-column-id="24_per"].rdt_TableCol {
  font-weight: 600;
  color: rgb(23, 25, 36);
}

[data-column-id="7d_per"].rdt_TableCol {
  font-weight: 600;
  color: rgb(23, 25, 36);
}

[data-column-id="market_cap"].rdt_TableCol {
  font-weight: 600;
  color: rgb(23, 25, 36);
}

[data-column-id="volume_24"].rdt_TableCol {
  font-weight: 600;
  color: rgb(23, 25, 36);
}

[data-column-id="circulating_supply"].rdt_TableCol {
  font-weight: 600;
  color: rgb(23, 25, 36);
}